@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-shadow {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}


@layer components {
  .footer-icon {
    @apply text-[#B47AEA] text-2xl px-4 cursor-pointer
  }
  .nav-icon {
    @apply text-[#B47AEA] text-2xl active:text-[#5BDEE7]
  }
  .container-toy {
    @apply lg:w-2/12 lg:h-auto
  }
  .refer-img {
    @apply transform transition-transform duration-300 lg:hover:scale-110 lg:h-auto
  }
  .box-qa {
    @apply flex flex-col relative bg-white rounded-full p-3 lg:p-5 mb-4 lg:w-3/4 lg:self-center
  }
  .qa-btni {
    @apply absolute text-[#B47AEA] text-2xl top-1/2 right-4 transform -translate-y-1/2 opacity-80 lg:text-5xl lg:cursor-pointer active:text-purple-600 lg:hover:text-purple-600
  }
}